body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th {
    background-color: #0d7967;
    color: white;
    padding: 12px 8px;
    font-size: 14px;
    border: 2px solid white;
}

td {
    padding: 10px 6px;
    font-size: 13px;
    border: 2px solid white;
}

tr:nth-child(odd) td {
    background-color: #e2e0ec;
}

tr:nth-child(even) td {
    background-color: rgb(255, 255, 255)
}

th, td {
    border: 2px solid white;
}